// Fall back values for ie boolian vars
$ie7: false !default;
$ie8: false !default;
$ie9: false !default;
$lte-ie7: false !default;
$lte-ie8: false !default;
$lte-ie9: false !default;

// Default colors

$text-color-default: #333;
$blue: #009FE3;
$blue-light: #E0E7EA;
$white: #fff;
$black: #000;

//typography
$font-family-default: "Verdana", sans-serif;
$font-family-contrast: "Times New Roman", "Georgia", serif;

$base-font-size-mobile: 1em;        //16px
$base-font-size-tablet: 0.875em;    //14px
$base-font-size-desktop: 0.75em;    //12px
$base-line-height: 6px;

//compass readymades
@import "compass/reset";
@import "blueprint/liquid";
@import "compass/utilities";
@import "compass/css3";
@import "compass/layout/sticky-footer";
//@import "compass/typography/vertical_rhythm";
// @import "compass/utilities/general/min";
// @import "compass/utilities/sprites";


//@include establish-baseline;

$blueprint-liquid-grid-width: 19.375%;
$blueprint-liquid-grid-margin: 6.25%;
$blueprint-liquid-grid-columns: 4;
$blueprint-liquid-container-width:100%;


@mixin respond-to($media) {
    @if $lte-ie8 {
        @content;
    }
    @else if $media == mobile {
        $blueprint-liquid-grid-width: 19.375%;
        $blueprint-liquid-grid-margin: 6.25%;
        $blueprint-liquid-grid-columns: 4;
        @media only screen and (max-width: 600px) { 
            @content;
        }
    }
    @else if $media == tablet {
        $blueprint-liquid-grid-width: 8.888888888%;
        $blueprint-liquid-grid-margin: 2.5%;
        $blueprint-liquid-grid-columns: 9;
        @media only screen and (min-width: 601px) { 
            @content; 
        }
    }
    @else if $media == desktop {
        $blueprint-liquid-grid-width: (60%/9.4);
        $blueprint-liquid-grid-margin: (20%/9.4);
        $blueprint-liquid-grid-columns: 12;
        @media only screen and (min-width: 1001px) { 
            @content; 
        }
    }
}

//sticky footer
@include sticky-footer(54px, "article", "#push-footer", "footer");